.welcome_popup .overlay {
    position: fixed;
    top:0px;
    left:0px;
    width: 100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display: none;

}

.welcome_popup .content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    background: #fff;
    width: 450px;
    height: 420px;
    z-index: 2;
    text-align:center;
    padding: 20px;
    box-sizing: border-box;
}

.welcome_popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width:30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600px;
    line-height:30px ;
    text-align: center;
    border-radius: 50%;
}

.welcome_popup.active .overlay {
    display: block;

}

.welcome_popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%)scale(1);
}

.heading {
    text-align: center;


}

.button {
    position: relative;
    width: 100px;
    height: 50px;
    margin: 20px;
}

#textbox {
    width: 200px;
    height: 100px;
    margin: 15px;
}

.submitButton {
    background-color:green;
    margin: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-weight:bold;
    
}

#displayArea {
    background-color: rgb(198, 187, 187) ;
    color: black;
    border-radius: 15px;
}

#userInputForm {
    
    padding: 50px;
    position: relative;
}

.titletext{
    padding: 15px;
    font-weight:bold;

}

#userInput {
    padding: 10px;
    margin: 0.1em;
}